[START]
--wf-filter-loopback=0
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,10000,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,10000,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000
--blob=fake_default_tcp:0x00

--template=START_QUIC
--lua-desync=auto_strategy:fails=3
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
--lua-desync=fake:blob=fake_default_udp:repeats=6

--new
--template=START_TLS
--lua-desync=auto_strategy:fails=3:maxseq=32768:reset
--lua-desync=fakeddisorder:seqovl_pattern=TLS_GOOGLE:pos=1,midsld:seqovl=336:repeats=6:tcp_ts=-600000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20:nodrop
--lua-desync=fakeddisorder:seqovl_pattern=TLS_GOOGLE:pos=1,midsld:seqovl=400:repeats=6:tcp_ts=-5000000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20:nodrop
--lua-desync=fakeddisorder:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:pos=1,midsld:seqovl=500:repeats=6:tcp_ts=-600000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20:nodrop
--lua-desync=fakeddisorder:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:pos=1,midsld:seqovl=336:repeats=6:tcp_ts=-600000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20:nodrop
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=336:repeats=6:tcp_ts=-600000:tcp_md5:badsum:nodrop
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=400:repeats=6:tcp_ts=-5000000:tcp_md5:badsum:nodrop
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=500:repeats=8:tcp_seq=1000:tcp_md5:badsum:nodrop
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=336:repeats=6:tcp_ts=-600000:tcp_md5:badsum:nodrop
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=400:repeats=6:tcp_ts=-5000000:tcp_md5:badsum:nodrop
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=500:repeats=8:tcp_seq=1000:tcp_md5:badsum:nodrop
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:tcp_ts_up:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=99999999:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=336:repeats=6:tcp_ts=-600000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=336:repeats=6:tcp_ts=-5000000:tcp_ts_up:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=336:repeats=6:tcp_ts=99999999:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=400:repeats=6:tcp_ts=-5000000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=500:repeats=8:tcp_seq=1000:tcp_md5:badsum:padencap:ip_autottl=2,3-20:ip6_autottl=2,3-20

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--import=START_QUIC

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--import=START_QUIC

[END]
--new
--filter-tcp=80,443,%DiscordPort%
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--import=START_TLS

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[roblox]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello
--import=START_TLS

--new
--filter-udp=0,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--import=START_QUIC
