Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-avoid-c-arrays,
  -modernize-return-braced-init-list,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-avoid-const-params-in-decls,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements
WarningsAsErrors: ''
HeaderFilterRegex: '^src/.*'
FormatStyle: file