[START]
--wf-tcp-in=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-in=%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%
--wf-tcp-out=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-out=443,%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000

[discord]
--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--lua-desync=circular:fails=1:maxtime=300:udp_out=4:udp_in=1
--lua-desync=fake:blob=fake_default_udp:repeats=6:strategy=1

--new
--filter-tcp=1080,2053,2083,2087,2096,8443
--filter-l7=http,tls
--hostlist-domains=discord.media
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=1:maxtime=300:retrans=2:maxseq=16384:reset
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:strategy=1
--lua-desync=fakedsplit:pattern=0x00:repeats=6:tcp_ts=-600000:strategy=2
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:strategy=3
--lua-desync=fake:blob=fake_default_http:repeats=6:tcp_ts=-600000:strategy=4
--lua-desync=multisplit:pos=2:seqovl=681:seqovl_pattern=tls_google:repeats=8:strategy=5

[END]
--new
--filter-tcp=80,443
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=1:maxtime=30:retrans=2:maxseq=16384:reset
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000:strategy=1
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:strategy=2
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000:strategy=3
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:repeats=6:tcp_ts=-600000:strategy=4
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:strategy=5
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:repeats=6:tcp_seq=2:strategy=6
--lua-desync=fake:ip_id=zero:blob=TLS_VK:seqovl_pattern=TLS_VK:repeats=6:tcp_ts=-600000:strategy=7
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:repeats=6:tcp_ts=-600000:strategy=8
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:seqovl_pattern=TLS_IANA:repeats=6:tcp_ts=-600000:strategy=9
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_GTLS_IANA_BIGSIZEOOGLE:repeats=6:tcp_ts=-600000:strategy=10
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:repeats=6:tcp_ts=-600000:strategy=11
--lua-desync=fake:ip_id=zero:blob=fake_default_http:seqovl_pattern=fake_default_http:repeats=6:tcp_ts=-600000:strategy=12
--lua-desync=fakedsplit:pattern=0x00:repeats=6:tcp_ts=-600000:strategy=13
--lua-desync=multisplit:pos=2:seqovl=681:seqovl_pattern=TLS_GOOGLE:repeats=8:strategy=14

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--lua-desync=circular:fails=3:maxtime=300:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6:strategy=1
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:strategy=2
--lua-desync=fake:blob=QUIC_VK:repeats=6:strategy=3
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:strategy=4
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:strategy=5
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:strategy=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:strategy=7
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:strategy=8
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:strategy=9
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:strategy=10

[messengers]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-d10
--payload=tls_client_hello
--lua-desync=circular:fails=1:maxtime=30:retrans=2:maxseq=16384:reset
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000:strategy=1
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:strategy=2
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000:strategy=3
--lua-desync=fake:blob=TLS_4PDA:repeats=6:tcp_ts=-600000:strategy=4
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:strategy=5
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:strategy=6
--lua-desync=fake:blob=TLS_VK:repeats=6:tcp_ts=-600000:strategy=7
--lua-desync=fake:blob=TLS_VK_KYBER:repeats=6:tcp_ts=-600000:strategy=8
--lua-desync=fake:blob=TLS_IANA:repeats=6:tcp_ts=-600000:strategy=9
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-600000:strategy=10
--lua-desync=fake:blob=TLS_ALERT:repeats=6:tcp_ts=-600000:strategy=11
--lua-desync=fake:blob=fake_default_http:repeats=6:tcp_ts=-600000:strategy=12
--lua-desync=fakedsplit:pattern=0x00:repeats=6:tcp_ts=-600000:strategy=13
--lua-desync=multisplit:pos=2:seqovl=681:seqovl_pattern=TLS_GOOGLE:repeats=8:strategy=14

--new
--filter-udp=%MessengersPortUPD%,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--lua-desync=circular:fails=3:maxtime=300:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6:strategy=1
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12:strategy=2
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=10:strategy=3
