[START]
--wf-tcp-in=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-in=%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%
--wf-tcp-out=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-out=443,%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000

[discord]
--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--lua-desync=circular:fails=1:maxtime=30:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6

--new
--filter-tcp=1080,2053,2083,2087,2096,8443
--filter-l7=http,tls
--hostlist-domains=discord.media
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:seqovl_pattern=TLS_GOOGLE
--lua-desync=fakedsplit:pattern=0x00:repeats=6:tcp_ts=-600000
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:seqovl_pattern=TLS_GOOGLE
--lua-desync=fake:blob=fake_default_http:repeats=6:tcp_ts=-600000
--lua-desync=multisplit:pos=2:seqovl=681:seqovl_pattern=TLS_GOOGLE:repeats=8

[END]
--new
--filter-tcp=80,443
--filter-l7=http,tls,mtproto
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:repeats=6:tcp_seq=2
--lua-desync=fake:ip_id=zero:blob=TLS_VK:seqovl_pattern=TLS_VK:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:seqovl_pattern=TLS_IANA:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_http:seqovl_pattern=fake_default_http:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:repeats=6:tcp_ts=-600000:seqovl=681
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:seqovl=681
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:repeats=6:tcp_seq=1000:seqovl=681
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:seqovl=681
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:seqovl=681:repeats=6:tcp_seq=2
--lua-desync=fake:ip_id=zero:blob=TLS_VK:seqovl_pattern=TLS_VK:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:seqovl_pattern=TLS_IANA:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=681:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_http:seqovl_pattern=fake_default_http:seqovl=681:repeats=6:tcp_ts=-600000
--lua-desync=fake:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:repeats=6:tcp_ts=-5000000:seqovl=726
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-5000000:seqovl=726
--lua-desync=fake:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:repeats=6:tcp_seq=1000:seqovl=726
--lua-desync=fake:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-5000000:seqovl=726
--lua-desync=fake:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:seqovl=726:repeats=6:tcp_seq=2
--lua-desync=fake:blob=TLS_VK:seqovl_pattern=TLS_VK:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_IANA:seqovl_pattern=TLS_IANA:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=fake_default_http:seqovl_pattern=fake_default_http:seqovl=726:repeats=6:tcp_ts=-5000000
--lua-desync=fakedsplit:pattern=0x00:repeats=6:tcp_ts=-600000
--lua-desync=multisplit:pos=2:seqovl=681:seqovl_pattern=TLS_GOOGLE:repeats=8
--lua-desync=multisplit:ip_id=zero:repeats=6:seqovl=681:seqovl_pattern=TLS_IANA
--lua-desync=multisplit:ip_id=zero:pos=1:seqovl=740:seqovl_pattern=TLS_IANA
--lua-desync=hostfakesplit:ip_id=zero:host=google.com:seqovl_pattern=TLS_IANA:repeats=6:seqovl=681:tcp_ts=-5000000
--lua-desync=hostfakesplit:ip_id=zero:host=ozon.ru:seqovl_pattern=TLS_IANA:repeats=6:seqovl=681:tcp_ts=-5000000

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--lua-desync=circular:fails=1:maxtime=30:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6

[messengers]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-d10
--payload=tls_client_hello
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:repeats=6:tcp_seq=2
--lua-desync=fake:ip_id=zero:blob=TLS_VK:seqovl_pattern=TLS_VK:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:seqovl_pattern=TLS_IANA:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_http:seqovl_pattern=fake_default_http:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:repeats=6:tcp_ts=-600000:seqovl=681
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:seqovl=681
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:repeats=6:tcp_seq=1000:seqovl=681
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:seqovl=681
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:seqovl=681:repeats=6:tcp_seq=2
--lua-desync=fake:ip_id=zero:blob=TLS_VK:seqovl_pattern=TLS_VK:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:seqovl_pattern=TLS_IANA:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=681:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:repeats=6:seqovl=681:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_http:seqovl_pattern=fake_default_http:seqovl=681:repeats=6:tcp_ts=-600000
--lua-desync=fake:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:repeats=6:tcp_ts=-5000000:seqovl=726
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-5000000:seqovl=726
--lua-desync=fake:blob=fake_default_tls:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:repeats=6:tcp_seq=1000:seqovl=726
--lua-desync=fake:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-5000000:seqovl=726
--lua-desync=fake:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:seqovl=726:repeats=6:tcp_seq=2
--lua-desync=fake:blob=TLS_VK:seqovl_pattern=TLS_VK:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_IANA:seqovl_pattern=TLS_IANA:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-5000000
--lua-desync=fake:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:repeats=6:seqovl=726:tcp_ts=-5000000
--lua-desync=fake:blob=fake_default_http:seqovl_pattern=fake_default_http:seqovl=726:repeats=6:tcp_ts=-5000000
--lua-desync=fakedsplit:pattern=0x00:repeats=6:tcp_ts=-600000
--lua-desync=multisplit:pos=2:seqovl=681:seqovl_pattern=TLS_GOOGLE:repeats=8
--lua-desync=multisplit:ip_id=zero:repeats=6:seqovl=681:seqovl_pattern=TLS_IANA
--lua-desync=multisplit:ip_id=zero:pos=1:seqovl=740:seqovl_pattern=TLS_IANA
--lua-desync=hostfakesplit:ip_id=zero:host=google.com:seqovl_pattern=TLS_IANA:repeats=6:seqovl=681:tcp_ts=-5000000
--lua-desync=hostfakesplit:ip_id=zero:host=ozon.ru:seqovl_pattern=TLS_IANA:repeats=6:seqovl=681:tcp_ts=-5000000

--new
--filter-udp=%MessengersPortUPD%,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--lua-desync=circular:fails=1:maxtime=30:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=10
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
