[START]
--wf-tcp-in=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-in=%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%
--wf-tcp-out=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-out=443,%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%

%INIT_LUA%
%INIT_BLOB%

[discord]
--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:strategy=1
--lua-desync=multisplit:repeats=6:strategy=2

--new
--filter-tcp=2053,2083,2087,2096,8443
--filter-l7=http,tls
--hostlist-domains=discord.media
--payload=tls_client_hello,http_req
--lua-desync=fake:blob=TLS_GOOGLE:tcp_ts=-10000:tcp_seq=400:repeats=8:strategy=1
--lua-desync=multisplit:ip_id=zero:repeats=8:strategy=2

[END]
--new
--filter-tcp=80,443
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:tcp_ts=-10000:tcp_seq=400:repeats=6:strategy=1
--lua-desync=fake:blob=TLS_4PDA:tcp_ts=-10000:repeats=6:strategy=2
--lua-desync=multisplit:ip_id=zero:repeats=6:strategy=3

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8:strategy=1
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:strategy=2

[messengers]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello
--lua-desync=circular:fails=2:maxtime=30:retrans=2:maxseq=16384:reset
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:tcp_ts=-10000:tcp_seq=400:repeats=6:strategy=1
--lua-desync=fake:blob=TLS_4PDA:tcp_ts=-10000:repeats=6:strategy=2
--lua-desync=multisplit:ip_id=zero:repeats=6:strategy=3

--new
--filter-udp=%MessengersPortUPD%,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=unknown
--out-range=-d2
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12
