[START]
--wf-tcp-in=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-in=%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%
--wf-tcp-out=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-out=443,%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000

[discord]
--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--lua-desync=circular:fails=1:maxtime=100:udp_out=4:udp_in=4:reset
--lua-desync=fakedsplit:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6

--new
--filter-tcp=1080,2053,2083,2087,2096,8443
--filter-l7=http,tls
--hostlist-domains=discord.media
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:seqovl_pattern=TLS_GOOGLE
--lua-desync=fakedsplit:pattern=0x00:repeats=6:tcp_ts=-600000
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_seq=-600000:seqovl_pattern=TLS_GOOGLE
--lua-desync=fake:blob=fake_default_http:repeats=6:tcp_ts=-600000
--lua-desync=multisplit:pos=1,midsld:seqovl=681:seqovl_pattern=TLS_GOOGLE:repeats=11

[END]
--new
--filter-tcp=80,443
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=hostfakesplit:host=www.google.com:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=hostfakesplit:host=yandex.ru:tls_mod=rnd,dupsid,sni=yandex.ru:tcp_seq=-600000:seqovl_pattern=TLS_IANA:repeats=11
--lua-desync=hostfakesplit:host=ozon.ru:tls_mod=rnd,dupsid,sni=ozon.ru:tcp_seq=-600000:seqovl_pattern=TLS_SHORT:repeats=11
--lua-desync=hostfakesplit:host=max.ru:tls_mod=rnd,dupsid,sni=max.ru:tcp_seq=-600000:seqovl_pattern=TLS_MAX:repeats=11
--lua-desync=hostfakesplit:host=gosuslugi.ru:tls_mod=rnd,dupsid,sni=gosuslugi.ru:tcp_seq=-600000:seqovl_pattern=TLS_GOSUSLUGI:repeats=11
--lua-desync=hostfakesplit:host=vk.com:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=hostfakesplit:host=ria.ru:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:seqovl_pattern=TLS_4PDA:repeats=11
--lua-desync=hostfakesplit:host=dzen.ru:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:seqovl_pattern=TLS_VK_KYBER:repeats=11
--lua-desync=hostfakesplit:host=mail.ru:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=hostfakesplit:host=gmail.com:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:seqovl_pattern=TLS_ALERT:repeats=11

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--lua-desync=circular:fails=1:maxtime=100:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6

[messengers]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-d10
--payload=tls_client_hello
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=hostfakesplit:host=www.google.com:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=hostfakesplit:host=yandex.ru:tls_mod=rnd,dupsid,sni=yandex.ru:tcp_seq=-600000:seqovl_pattern=TLS_IANA:repeats=11
--lua-desync=hostfakesplit:host=ozon.ru:tls_mod=rnd,dupsid,sni=ozon.ru:tcp_seq=-600000:seqovl_pattern=TLS_SHORT:repeats=11
--lua-desync=hostfakesplit:host=max.ru:tls_mod=rnd,dupsid,sni=max.ru:tcp_seq=-600000:seqovl_pattern=TLS_MAX:repeats=11
--lua-desync=hostfakesplit:host=gosuslugi.ru:tls_mod=rnd,dupsid,sni=gosuslugi.ru:tcp_seq=-600000:seqovl_pattern=TLS_GOSUSLUGI:repeats=11
--lua-desync=hostfakesplit:host=vk.com:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=hostfakesplit:host=ria.ru:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:seqovl_pattern=TLS_4PDA:repeats=11
--lua-desync=hostfakesplit:host=dzen.ru:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:seqovl_pattern=TLS_VK_KYBER:repeats=11
--lua-desync=hostfakesplit:host=mail.ru:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=hostfakesplit:host=gmail.com:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:seqovl_pattern=TLS_ALERT:repeats=11
--new
--filter-udp=%MessengersPortUPD%,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--lua-desync=circular:fails=1:maxtime=100:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=10
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
