[START]
--wf-tcp-in=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-in=%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%
--wf-tcp-out=80,443,%MessengersPort%,%DiscordPort%,%GamePort%,%TorrentPort%
--wf-udp-out=443,%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%,%TorrentPort%

%INIT_LUA%
%INIT_BLOB%

[discord]
--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--lua-desync=circular:fails=2:maxtime=100:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:strategy=1
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12:strategy=2
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=12:strategy=3
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=12:strategy=4
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=12:strategy=5
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=12:strategy=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=12:strategy=7
--lua-desync=fake:blob=QUIC_SHORT:repeats=12:strategy=8
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=12:strategy=9
--lua-desync=fake:blob=QUIC_VK:repeats=12:strategy=10

--new
--filter-tcp=2053,2083,2087,2096,8443
--filter-l7=http,tls
--hostlist-domains=discord.media
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=2:retrans=2:maxseq=16384:reset
--lua-desync=fake:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:tcp_ts=-10000:tcp_seq=400:repeats=8:strategy=1
--lua-desync=fake:blob=TLS_RUTRACKER:seqovl_pattern=TLS_RUTRACKER:tcp_ts=-10000:tcp_seq=400:repeats=8:strategy=2
--lua-desync=fake:blob=TLS_SHORT:seqovl_pattern=TLS_SHORT:tcp_ts=10000:tcp_seq=400:repeats=8:strategy=3
--lua-desync=fake:blob=TLS_SBERBANK:seqovl_pattern=TLS_SBERBANK:tcp_ts=-10000:tcp_seq=400:repeats=8:strategy=4
--lua-desync=fake:blob=TLS_MAX:seqovl_pattern=TLS_MAX:tcp_ts=-10000:tcp_seq=400:repeats=8:strategy=5
--lua-desync=fake:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:tcp_ts=-10000:tcp_seq=400:repeats=8:strategy=6
--lua-desync=multisplit:ip_id=zero:seqovl_pattern=TLS_SHORT:repeats=8:strategy=7
--lua-desync=hostfakesplit:host=google.com:seqovl_pattern=TLS_GOOGLE:tcp_ts=-1000:repeats=4:strategy=8

[END]
--new
--filter-tcp=80,443
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:tcp_ts=-5000000:tcp_seq=400:seqovl_pattern=TLS_GOOGLE:repeats=6:strategy=1
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_4PDA:strategy=2
--lua-desync=fake:ip_id=zero:blob=TLS_MAX:tcp_ts=-10000:repeats=11:seqovl_pattern=TLS_MAX:strategy=3
--lua-desync=fake:ip_id=zero:blob=TLS_SHORT:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_SHORT:strategy=4
--lua-desync=fake:ip_id=zero:blob=TLS_RUTRACKER:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_RUTRACKER:strategy=5
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_ALERT:strategy=6
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_IANA:strategy=7
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_IANA_BIGSIZE:strategy=8
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_VK_KYBER:strategy=9
--lua-desync=fake:ip_id=zero:blob=TLS_VK:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_VK:strategy=10
--lua-desync=fake:ip_id=zero:blob=TLS_SBERBANK:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_SBERBANK:strategy=11
--lua-desync=multisplit:ip_id=zero:repeats=11:seqovl_pattern=TLS_IANA:strategy=12
--lua-desync=multisplit:ip_id=zero:pos=1:seqovl=740:seqovl_pattern=TLS_IANA:strategy=13
--lua-desync=hostfakesplit:ip_id=zero:host=google.com:seqovl_pattern=TLS_IANA:repeats=11:tcp_ts=-5000000:strategy=14
--lua-desync=hostfakesplit:ip_id=zero:host=ozon.ru:seqovl_pattern=TLS_IANA:repeats=11:tcp_ts=-5000000:strategy=15

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=2:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=QUIC_GOOGLE:seqovl_pattern=TLS_MAX:repeats=8:strategy=1
--lua-desync=fake:blob=QUIC_GOOGLE:seqovl_pattern=QUIC_GOOGLE:repeats=6:strategy=2
--lua-desync=fake:blob=TLS_RUTRACKER:seqovl_pattern=TLS_RUTRACKER:repeats=6:strategy=3
--lua-desync=fake:blob=TLS_MAX:seqovl_pattern=TLS_MAX:repeats=6:strategy=4
--lua-desync=fake:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:repeats=6:strategy=5

[messengers]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
--filter-l7=tls
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=2:retrans=3:maxseq=32768:reset
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:tcp_ts=-5000000:tcp_seq=400:seqovl_pattern=TLS_GOOGLE:repeats=6:strategy=1
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_4PDA:strategy=2
--lua-desync=fake:ip_id=zero:blob=TLS_MAX:tcp_ts=-10000:repeats=11:seqovl_pattern=TLS_MAX:strategy=3
--lua-desync=fake:ip_id=zero:blob=TLS_SHORT:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_SHORT:strategy=4
--lua-desync=fake:ip_id=zero:blob=TLS_RUTRACKER:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_RUTRACKER:strategy=5
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_ALERT:strategy=6
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_IANA:strategy=7
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_IANA_BIGSIZE:strategy=8
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_VK_KYBER:strategy=9
--lua-desync=fake:ip_id=zero:blob=TLS_VK:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_VK:strategy=10
--lua-desync=fake:ip_id=zero:blob=TLS_SBERBANK:tcp_ts=-5000000:repeats=11:seqovl_pattern=TLS_SBERBANK:strategy=11
--lua-desync=multisplit:ip_id=zero:repeats=11:seqovl_pattern=TLS_IANA:strategy=12
--lua-desync=multisplit:ip_id=zero:pos=1:seqovl=740:seqovl_pattern=TLS_IANA:strategy=13
--lua-desync=hostfakesplit:ip_id=zero:host=google.com:seqovl_pattern=TLS_IANA:repeats=11:tcp_ts=-5000000:strategy=14
--lua-desync=hostfakesplit:ip_id=zero:host=ozon.ru:seqovl_pattern=TLS_IANA:repeats=11:tcp_ts=-5000000:strategy=15

--new
--filter-udp=%MessengersPortUPD%,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=unknown
--lua-desync=circular:fails=2:time=300:maxtime=150:interval=2:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12:strategy=1
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=12:strategy=2
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=12:strategy=3
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=12:strategy=4
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=12:strategy=5
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=12:strategy=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=12:strategy=7
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=12:strategy=8
--lua-desync=fake:blob=QUIC_VK:repeats=12:strategy=9
