[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000
--blob=fake_default_tcp:0x00000000000000000000000000000000

--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--lua-desync=circular:fails=1:maxtime=100:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
--lua-desync=fake:blob=fake_default_udp:repeats=8:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8:badsum

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--lua-desync=circular:fails=1:maxtime=100:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
--lua-desync=fake:blob=fake_default_udp:repeats=8:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8:badsum

[END]
--new
--filter-tcp=80,443,%DiscordPort%
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--lua-desync=circular:fails=1:maxtime=150:retrans=3:maxseq=32768
--lua-desync=fake:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=fakedsplit:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_IANA:repeats=11
--lua-desync=fakedsplit:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_SHORT:repeats=11
--lua-desync=fakedsplit:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_MAX:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_GOSUSLUGI:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=fakedsplit:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_4PDA:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_VK_KYBER:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=fakedsplit:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_ALERT:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=hostfakesplit:host=www.google.com:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=hostfakesplit:host=www.yandex.ru:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_IANA:repeats=11
--lua-desync=hostfakesplit:host=www.ozon.ru:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_SHORT:repeats=11
--lua-desync=hostfakesplit:host=www.max.ru:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_MAX:repeats=11
--lua-desync=hostfakesplit:host=www.gosuslugi.ru:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_GOSUSLUGI:repeats=11
--lua-desync=hostfakesplit:host=vk.com:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=hostfakesplit:host=ria.ru:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_4PDA:repeats=11
--lua-desync=hostfakesplit:host=dzen.ru:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_VK_KYBER:repeats=11
--lua-desync=hostfakesplit:host=mail.ru:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=hostfakesplit:host=gmail.com:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_ALERT:repeats=11

[messengers]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-d10
--payload=tls_client_hello
--lua-desync=circular:fails=1:maxtime=150:retrans=3:maxseq=32768
--lua-desync=fake:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:repeats=11
--lua-desync=fake:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=fakedsplit:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_IANA:repeats=11
--lua-desync=fakedsplit:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_SHORT:repeats=11
--lua-desync=fakedsplit:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_MAX:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_GOSUSLUGI:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=fakedsplit:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_4PDA:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_VK_KYBER:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=fakedsplit:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=TLS_ALERT:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=fakedsplit:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:seqovl=620:seqovl_pattern=fake_default_tcp:repeats=11
--lua-desync=hostfakesplit:host=www.google.com:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=hostfakesplit:host=www.yandex.ru:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_IANA:repeats=11
--lua-desync=hostfakesplit:host=www.ozon.ru:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_SHORT:repeats=11
--lua-desync=hostfakesplit:host=www.max.ru:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_MAX:repeats=11
--lua-desync=hostfakesplit:host=www.gosuslugi.ru:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_GOSUSLUGI:repeats=11
--lua-desync=hostfakesplit:host=vk.com:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=hostfakesplit:host=ria.ru:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_4PDA:repeats=11
--lua-desync=hostfakesplit:host=dzen.ru:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_VK_KYBER:repeats=11
--lua-desync=hostfakesplit:host=mail.ru:tls_mod=rnd,dupsid,sni=mail.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_VK:repeats=11
--lua-desync=hostfakesplit:host=gmail.com:tls_mod=rnd,dupsid,sni=gmail.com:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_GOOGLE:repeats=11
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:midhost=host-2:seqovl_pattern=TLS_ALERT:repeats=11

--new
--filter-udp=%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--lua-desync=circular:fails=1:maxtime=100:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=10
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
