[START]
--ctrack-disable=0
--ipcache-lifetime=8400
--ipcache-hostname=1
--wf-filter-loopback=0
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,10000,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,10000,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000

--template=START_QUIC
--lua-desync=auto_strategy:fails=4
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=16:strategy=1
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:strategy=2
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:badsum:strategy=2
--lua-desync=fake:blob=QUIC_VK:repeats=6:strategy=3
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum:strategy=3
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:badsum:strategy=4
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:badsum:strategy=4
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:strategy=5
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:badsum:strategy=5
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:strategy=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:badsum:strategy=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:strategy=7
--lua-desync=fake:blob=fake_default_udp:repeats=6:badsum:strategy=7
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:ip_ttl=5:strategy=8
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:ip_ttl=5:badsum:strategy=8
--lua-desync=fake:blob=QUIC_VK:repeats=6:ip_ttl=5:badsum:strategy=9
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:ip_ttl=5:badsum:strategy=9
--lua-desync=fake:ip_id=zero:blob=QUIC_GOOGLE:repeats=6:ip_ttl=5:badsum:strategy=10
--lua-desync=fake:ip_id=zero:blob=QUIC_VK:repeats=6:ip_ttl=5:badsum:strategy=10
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:ipfrag:ipfrag_pos_udp=8:badsum:strategy=11
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:ipfrag:ipfrag_pos_udp=16:badsum:strategy=11
--lua-desync=fake:ip_id=zero:blob=QUIC_GOOGLE:repeats=16:ipfrag:ipfrag_pos_udp=8:badsum:strategy=12
--lua-desync=fake:blob=fake_default_quic:repeats=6:strategy=13
--lua-desync=fake:blob=fake_default_quic:repeats=6:badsum:strategy=13
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:ip_ttl=3:badsum:strategy=14
--lua-desync=fake:blob=fake_default_udp:repeats=6:ip_ttl=3:badsum:strategy=14
--lua-desync=send:ipfrag:ipfrag_pos_udp=8:strategy=15
--lua-desync=drop:strategy=15
--lua-desync=send:ipfrag:ipfrag_pos_udp=8:ipfrag_disorder:strategy=16
--lua-desync=drop:strategy=16
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=4:strategy=17
--lua-desync=send:ipfrag:ipfrag_pos_udp=8:strategy=17
--lua-desync=drop:strategy=17
--lua-desync=udplen:increment=2:strategy=18
--lua-desync=udplen:increment=2:strategy=19
--lua-desync=fake:blob=fake_default_quic:repeats=2:strategy=19
--lua-desync=fake:blob=QUIC_4PDA:repeats=6:strategy=20
--lua-desync=fake:blob=QUIC_4PDA:repeats=6:badsum:strategy=20
--lua-desync=fake:ip_id=zero:blob=QUIC_4PDA:repeats=6:ipfrag:ipfrag_pos_udp=8:badsum:strategy=21
--lua-desync=fake:blob=QUIC_4PDA:repeats=16:ipfrag:ipfrag_pos_udp=8:badsum:strategy=21

--new
--template=START_TLS
--lua-desync=auto_strategy:fails=4:maxseq=32768:reset
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:strategy=1
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:strategy=2
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:badsum:strategy=3
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:badsum:strategy=3
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:tcp_md5:badsum:strategy=4
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:tcp_md5:badsum:strategy=4
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000:strategy=5
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000:strategy=5
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000:badsum:strategy=6
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000:tcp_md5:badsum:strategy=6
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000:strategy=7
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000:badsum:strategy=7
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000:tcp_md5:badsum:strategy=8
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=620:repeats=6:tcp_ts=-600000:strategy=9
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=620:repeats=6:tcp_ts=-600000:badsum:strategy=9
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:strategy=10
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum:strategy=10
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:strategy=11
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum:strategy=11
--lua-desync=fakeddisorder:pos=midsld:seqovl=2:repeats=6:tcp_ts=-600000:tcp_md5:strategy=12
--lua-desync=fakeddisorder:pos=midsld:seqovl=2:repeats=6:tcp_ts=-600000:tcp_md5:badsum:strategy=12
--lua-desync=fakeddisorder:pos=midsld:seqovl=4:repeats=8:tcp_seq=1000:tcp_md5:badsum:strategy=13
--lua-desync=multidisorder:pos=1,midsld:repeats=6:strategy=14
--lua-desync=multidisorder:pos=1,midsld:repeats=12:strategy=14
--lua-desync=multisplit:pos=2:seqovl=681:seqovl_pattern=TLS_GOOGLE:repeats=6:strategy=15
--lua-desync=multisplit:pos=1,midsld:seqovl=681:seqovl_pattern=TLS_GOOGLE:repeats=6:strategy=16
--lua-desync=hostfakesplit:host=www.google.com:midhost=midsld:repeats=6:tcp_ts=-600000:tcp_md5:badsum:strategy=17
--lua-desync=hostfakesplit:host=www.google.com:midhost=midsld:disorder_after=-1:repeats=6:tcp_md5:badsum:strategy=18
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:strategy=19
--lua-desync=fakedsplit:seqovl=620:repeats=3:tcp_ts=-600000:strategy=19
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:badsum:strategy=20
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:tcp_md5:badsum:strategy=20
--lua-desync=fakedsplit:seqovl=681:repeats=3:tcp_ts=-5000000:tcp_md5:strategy=21
--lua-desync=fakedsplit:seqovl=681:repeats=3:tcp_ts=-5000000:tcp_md5:badsum:strategy=21
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=midsld:repeats=6:tcp_ts=-600000:tcp_md5:badsum:strategy=22
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=midsld:repeats=6:tcp_ts=-5000000:badsum:strategy=23
--lua-desync=fake:blob=TLS_VK:repeats=6:tcp_ts=-600000:strategy=24
--lua-desync=fake:ip_id=zero:blob=TLS_VK:repeats=6:tcp_ts=-600000:badsum:strategy=24
--lua-desync=fake:ip_id=zero:blob=TLS_VK:repeats=6:tcp_ts=-600000:tcp_md5:badsum:strategy=25
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=620:repeats=6:tcp_ts=-600000:strategy=26
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=620:repeats=6:tcp_ts=-600000:badsum:strategy=26
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:strategy=27
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum:strategy=27
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:strategy=28
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum:strategy=28
--lua-desync=fake:blob=TLS_VK_KYBER:repeats=6:tcp_ts=-600000:strategy=29
--lua-desync=fake:blob=TLS_SOCHI:repeats=6:tcp_ts=-600000:strategy=30
--lua-desync=fake:ip_id=zero:blob=TLS_SOCHI:repeats=6:tcp_ts=-600000:badsum:strategy=30
--lua-desync=fake:blob=TLS_4PDA:repeats=6:tcp_ts=-600000:strategy=31
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:strategy=31
--lua-desync=fake:blob=TLS_MAX:repeats=6:tcp_ts=-600000:strategy=32
--lua-desync=fake:ip_id=zero:blob=TLS_MAX:repeats=6:tcp_ts=-600000:badsum:strategy=32

--new
--template=START_VOICE
--lua-desync=auto_strategy:fails=4:start=1
--lua-desync=fake:payload=all:blob=fake_default_udp:repeats=2:strategy=1
--lua-desync=fake:payload=all:blob=QUIC_GOOGLE:repeats=2:strategy=2
--lua-desync=fake:payload=all:blob=fake_default_quic:repeats=2:strategy=3
--lua-desync=fake:payload=all:blob=fake_default_udp:repeats=2:badsum:strategy=4
--lua-desync=fake:payload=all:blob=QUIC_GOOGLE:repeats=2:badsum:strategy=5
--lua-desync=fake:payload=all:blob=fake_default_udp:repeats=4:strategy=6
--lua-desync=fake:payload=all:blob=QUIC_VK:repeats=2:badsum:strategy=7
--lua-desync=send:ipfrag:ipfrag_pos_udp=8:strategy=8
--lua-desync=drop:strategy=8
--lua-desync=send:ipfrag:ipfrag_pos_udp=8:ipfrag_disorder:strategy=9
--lua-desync=drop:strategy=9
--lua-desync=fake:payload=all:blob=fake_default_udp:repeats=2:strategy=10
--lua-desync=send:ipfrag:ipfrag_pos_udp=8:strategy=10
--lua-desync=drop:strategy=10
--lua-desync=fake:payload=all:blob=QUIC_GOOGLE:repeats=2:badsum:strategy=11
--lua-desync=send:ipfrag:ipfrag_pos_udp=8:ipfrag_disorder:strategy=11
--lua-desync=fake:payload=all:blob=DISCORD_ACTIVE:repeats=2:strategy=12
--lua-desync=fake:payload=all:blob=DISCORD_ACTIVE:repeats=2:badsum:strategy=12
--lua-desync=fake:payload=all:blob=STUN2:repeats=2:strategy=13
--lua-desync=fake:payload=all:blob=STUN2:repeats=2:badsum:strategy=13
--lua-desync=fake:payload=all:blob=GAME_ACTIVE:repeats=2:strategy=14
--lua-desync=fake:payload=all:blob=GAME_ACTIVE:repeats=2:badsum:strategy=14
--lua-desync=drop:strategy=11

--new
--template=START_VOICE_TCP
--lua-desync=auto_strategy:fails=1:maxseq=32768:reset:start=1
--lua-desync=multisplit:pos=host+3:strategy=1
--lua-desync=multisplit:pos=sniext,endhost:strategy=2
--lua-desync=fakedsplit:pos=host+3:seqovl=620:seqovl_pattern=TLS_GOOGLE:repeats=6:tcp_ts=-600000:strategy=3
--lua-desync=fakedsplit:pos=host+3:seqovl=620:seqovl_pattern=TLS_GOOGLE:repeats=6:tcp_ts=-600000:badsum:strategy=3
--lua-desync=hostfakesplit:host=www.google.com:midhost=midsld:repeats=6:tcp_ts=-600000:tcp_md5:badsum:strategy=4
--lua-desync=hostfakesplit:host=www.google.com:midhost=midsld:disorder_after=-1:repeats=6:tcp_md5:badsum:strategy=5
--lua-desync=fakeddisorder:pos=host+3:seqovl=2:repeats=6:tcp_ts=-600000:tcp_md5:strategy=6
--lua-desync=fakeddisorder:pos=host+3:seqovl=2:repeats=6:tcp_ts=-600000:tcp_md5:badsum:strategy=6
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:strategy=7
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:badsum:strategy=7
--lua-desync=multisplit:pos=host+3:seqovl=620:seqovl_pattern=TLS_SOCHI:repeats=6:tcp_ts=-600000:strategy=8
--lua-desync=multisplit:pos=host+3:seqovl=620:seqovl_pattern=TLS_SOCHI:repeats=6:tcp_ts=-600000:badsum:strategy=8

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--import=START_QUIC

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=all
--import=START_VOICE

--new
--filter-tcp=%DiscordPort%
--filter-l7=tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello
--import=START_VOICE_TCP

[END]
--new
--filter-tcp=80,443,%DiscordPort%
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--import=START_TLS

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello
--import=START_TLS

--new
--filter-udp=0,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n8
--payload=all
--import=START_VOICE
