[START]
--wf-tcp=80,443,%DiscordPort%,%GamePort%
--wf-udp=443,%MessengersPort%,19294-19344,50000-50100,%GamePort%

--filter-udp=%MessengersPort%,19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=6
--new

--filter-udp=443
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%
--new

--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=badseq
--dpi-desync-badseq-increment=10000000
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
%FAKE_TLS_DOMAIN%
--new

[youtube]
--filter-tcp=443
%BLOCKLIST%
--ip-id=zero
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=badseq
--dpi-desync-badseq-increment=10000000
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
%FAKE_TLS_DOMAIN%
--new

[discord]
--filter-tcp=%DiscordPort%
--hostlist-domains=discord.media
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=badseq
--dpi-desync-badseq-increment=10000000
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
%FAKE_TLS_DOMAIN%
--new

[messengers]
use_in>>game_mod

[END]
--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%
--new

--filter-tcp=80,443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=badseq
--dpi-desync-badseq-increment=10000000
--dpi-desync-repeats=18
%SEQOVL_PATTERN%
%FAKE_TLS_DOMAIN%
--new

[game_mod]
--filter-udp=%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=10
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2
--new
