[START]
--wf-tcp=80,443,%MessengersPort%,%DiscordPort%,%GamePort%
--wf-udp=443,%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%

--filter-udp=0,%MessengersPortUPD%,%DiscordPortUPD%
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=6
--new

--filter-udp=443
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-tcp=80
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443,%MessengersPort%,%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

[discord]
--filter-tcp=%DiscordPort%
--hostlist-domains=discord.media
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

[messengers]
use_in>>game_mod

[END]
--filter-udp=80
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,split2
--dpi-desync-repeats=6
--dpi-desync-fooling=md5sig,badseq
%FAKE_TLS%
--new

--filter-tcp=80
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443,%MessengersPort%
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

[game_mod]
--filter-udp=%MessengersPort%,%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=12
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n3
--new
