[START]
--wf-tcp=80,443,2053,2083,2087,2096,8443,%GameFilter%
--wf-udp=80,443,19294-19344,50000-65535,%GameFilter%

--filter-udp=19294-19344,50000-65535
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=6
--new

--filter-udp=443
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-tcp=80
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443,%GameFilter%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

[youtube]
--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,multisplit
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

[discord]
--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

[END]
--filter-udp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-repeats=6
--dpi-desync-fooling=md5sig,badseq
%FAKE_TLS%
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,multisplit
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

[game_mod]
--filter-udp=%GameFilter%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=12
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n3
--new
