[START]
--wf-tcp=80,443,2053,2083,2087,2096,8443,%AllPorts%
--wf-udp=443,596-599,1400,19294-19344,50000-50100,%AllPorts%

--filter-udp=596-599,1400,19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=16
--new

--filter-udp=443
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=16
%FAKE_QUIC%
--new

--filter-tcp=80,443,%AllPorts%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fakedsplit
--dpi-desync-split-pos=1
--dpi-desync-autottl
--dpi-desync-fooling=badseq
--dpi-desync-repeats=8
--new

[youtube]
--filter-tcp=443
%BLOCKLIST%
--ip-id=zero
--dpi-desync=fakedsplit
--dpi-desync-split-pos=1
--dpi-desync-autottl
--dpi-desync-fooling=badseq
--dpi-desync-repeats=8
--new

[messengers]
use_in>>game_mod

[discord]
--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=fakedsplit
--dpi-desync-split-pos=1
--dpi-desync-autottl
--dpi-desync-fooling=badseq
--dpi-desync-repeats=8
--new

[END]
--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=16
%FAKE_QUIC%
--new

--filter-tcp=80,443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fakedsplit
--dpi-desync-split-pos=1
--dpi-desync-autottl
--dpi-desync-fooling=badseq
--dpi-desync-repeats=8
--new

[game_mod]
--filter-udp=%AllPorts%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=10
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2
--new