[START]
--wf-tcp=80,443,2053,2083,2087,2096,8443,%AllPorts%
--wf-udp=443,590-1400,19294-19344,50000-50100,%AllPorts%

--filter-udp=590-1400,19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=6
--new

--filter-udp=443
%BLOCKLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-l3=ipv4
--filter-tcp=443,2053,2083,2087,2096,8443,%AllPorts%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=syndata,multidisorder
--new

--filter-udp=443
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

[messengers]
use_in>>game_mod

[game_mod]
--filter-udp=%AllPorts%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=14
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n3
--new