// Zapret1 (winws.exe): adapted from Flowseal/zapret-discord-youtube preset "general (EXP).bat"; filters mapped to unblock sections, fake blobs to binaries/fake/.
[START]
--wf-tcp=80,443,%DiscordPort%,%GamePort%
--wf-udp=443,%DiscordPortUPD%,%GamePort%

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,unknown
--dpi-desync=fake
--dpi-desync-any-protocol=1
--dpi-desync-fake-discord="%FAKE%quic_initial_www_google_com.bin"
%FAKE_DISCORD%
%FAKE_STUN%
--dpi-desync-fake-unknown-udp="%FAKE%quic_initial_www_google_com.bin"
%FAKE_UNKNOWN%
--dpi-desync-repeats=4
--dpi-desync-cutoff=n4

--new
--filter-tcp=%DiscordPort%
--hostlist-domains=discord.media
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
%FAKE_TLS%

[instagram]
use_in>>youtube

[youtube]
--new
--filter-tcp=443
%BLOCKLIST%
--ip-id=zero
--dpi-desync=hostfakesplit
--dpi-desync-fooling=ts
--dpi-desync-hostfakesplit-mod=host=www.google.com

[END]
--new
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%

--new
--filter-tcp=80,443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=480
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=4
%SEQOVL_PATTERN%
%FAKE_TLS%
%FAKE_HTTP%

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[game_mod]
--new
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%

--new
--filter-tcp=80,443,8443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=480
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=4
%SEQOVL_PATTERN%
%FAKE_TLS%
%FAKE_HTTP%

--new
--filter-tcp=0,%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-any-protocol=1
--dpi-desync-cutoff=n4
--dpi-desync-split-seqovl=664
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
--dpi-desync-fake-tls="%FAKE%stun2.bin"
%FAKE_TLS%
%FAKE_HTTP%

--new
--filter-udp=0,%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=5
--dpi-desync-any-protocol=1
--dpi-desync-fake-unknown-udp="%FAKE%quic_initial_4pda_to.bin"
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n4
