// Zapret1 (winws.exe): adapted from Flowseal/zapret-discord-youtube preset "general (ALT11).bat"; filters mapped to unblock sections, fake blobs to binaries/fake/.
[START]
--wf-tcp=80,443,%DiscordPort%,%GamePort%
--wf-udp=443,%DiscordPortUPD%,%GamePort%

--new
--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun
--dpi-desync=fake
%FAKE_DISCORD%
%FAKE_STUN%
--dpi-desync-repeats=6

--new
--filter-tcp=%DiscordPort%
--hostlist-domains=discord.media
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
%FAKE_TLS%

[instagram]
use_in>>youtube

[youtube]
--new
--filter-tcp=443
%BLOCKLIST%
--ip-id=zero
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
%FAKE_TLS%

[END]
--new
--filter-tcp=80,443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=664
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
--dpi-desync-fake-tls="%FAKE%stun2.bin"
%FAKE_TLS%
%FAKE_HTTP%

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[game_mod]
--new
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%

--new
--filter-tcp=80,443,8443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=664
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
--dpi-desync-fake-tls="%FAKE%stun2.bin"
%FAKE_TLS%
%FAKE_HTTP%

--new
--filter-tcp=%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-any-protocol=1
--dpi-desync-cutoff=n4
--dpi-desync-split-seqovl=664
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
--dpi-desync-fake-tls="%FAKE%stun2.bin"
%FAKE_TLS%
%FAKE_HTTP%
--dpi-desync-fake-unknown="%FAKE%stun2.bin"
--dpi-desync-fake-unknown="%FAKE%tls_clienthello_max_ru.bin"

--new
--filter-udp=%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=10
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n4
