[START]
--wf-tcp=80,443,%DiscordPort%,%GamePort%
--wf-udp=443,%MessengersPort%,19294-19344,50000-50100,%GamePort%

--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=hostfakesplit
%FAKE_HOST_DOMAIN%
--dpi-desync-hostfakesplit-midhost=host-4
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1,midsld
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-udp=%MessengersPort%,19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
%FAKE_DISCORD%
%FAKE_STUN%
--dpi-desync-repeats=6
--new

[discord]
--filter-tcp=%DiscordPort%
--hostlist-domains=discord.media
--dpi-desync=hostfakesplit
%FAKE_HOST_DOMAIN%
--dpi-desync-hostfakesplit-midhost=host-4
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1,midsld
%SEQOVL_PATTERN%
--new

[messengers]
use_in>>game_mod

[END]
--filter-tcp=80,443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--ip-id=zero
--dpi-desync=hostfakesplit
%FAKE_HOST_DOMAIN%
--dpi-desync-hostfakesplit-midhost=host-4
--dpi-desync-split-seqovl=726
--dpi-desync-split-pos=1,midsld
--dpi-desync-fooling=ts,badseq
--dpi-desync-badseq-increment=0
--dpi-desync-repeats=16
%SEQOVL_PATTERN%
--new

[game_mod]
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=hostfakesplit
%FAKE_HOST_DOMAIN%
--dpi-desync-hostfakesplit-midhost=host-4
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1,midsld
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--ip-id=zero
--dpi-desync=hostfakesplit
%FAKE_HOST_DOMAIN%
--dpi-desync-hostfakesplit-midhost=host-4
--dpi-desync-split-seqovl=726
--dpi-desync-split-pos=1,midsld
--dpi-desync-fooling=ts,badseq
--dpi-desync-badseq-increment=0
--dpi-desync-repeats=16
%SEQOVL_PATTERN%
--new

--filter-udp=%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=12
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2
--new
