[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00
--blob=fake_default_tcp:0x00

--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=1:maxtime=300:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=8:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8:badsum
--lua-desync=fakedsplit:blob=fake_default_udp:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_GOOGLE:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER_KYBER1:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER_KYBER2:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_VK:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=6:badsum
--lua-desync=fakedsplit:blob=QUIC_FACEBOOK:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_FACEBOOK_QUICHE:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_SHORT:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_SHORT_HEADER:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=fake_default_udp:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_GOOGLE:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_VK:host=vk.com:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=6:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER1:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER2:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK_QUICHE:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_SHORT:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_SHORT_HEADER:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--lua-desync=circular:fails=1:maxtime=300:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=8
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8
--lua-desync=fake:blob=QUIC_SHORT:repeats=8
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8
--lua-desync=fake:blob=fake_default_udp:repeats=8:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8:badsum
--lua-desync=fakedsplit:blob=fake_default_udp:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_GOOGLE:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER_KYBER1:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER_KYBER2:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_VK:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=6:badsum
--lua-desync=fakedsplit:blob=QUIC_FACEBOOK:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_FACEBOOK_QUICHE:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_SHORT:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_SHORT_HEADER:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=fake_default_udp:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_GOOGLE:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_VK:host=vk.com:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=6:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER1:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER2:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK_QUICHE:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_SHORT:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_SHORT_HEADER:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum

[END]
--new
--filter-tcp=80,443,%DiscordPort%
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=1:maxtime=150:retrans=3:maxseq=32768
--lua-desync=fake:blob=QUIC_GOOGLE:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_4PDA:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_IANA:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_VK:tcp_seq=-600000:repeats=6
--lua-desync=fake:blob=TLS_VK_KYBER:tcp_seq=-600000:repeats=6
--lua-desync=fake:blob=TLS_ALERT:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_MAX:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_SHORT:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_SBERBANK:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_RUTRACKER:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_RUTRACKER_KYBER:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=QUIC_GOOGLE:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_4PDA:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_IANA:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_VK:tcp_seq=-600000:repeats=6:badsum
--lua-desync=fake:blob=TLS_VK_KYBER:tcp_seq=-600000:repeats=6:badsum
--lua-desync=fake:blob=TLS_ALERT:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_MAX:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_SHORT:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_SBERBANK:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_RUTRACKER:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_RUTRACKER_KYBER:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_GOOGLE:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_4PDA:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_IANA:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_IANA_BIGSIZE:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_VK:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=6:badsum
--lua-desync=fakedsplit:blob=TLS_VK_KYBER:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=6:badsum
--lua-desync=fakedsplit:blob=TLS_ALERT:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_MAX:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_SHORT:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_SBERBANK:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_RUTRACKER:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_RUTRACKER_KYBER:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_GOOGLE:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_4PDA:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_IANA:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_IANA_BIGSIZE:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_VK:host=vk.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=6:badsum
--lua-desync=hostfakesplit:blob=TLS_VK_KYBER:host=vk.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=6:badsum
--lua-desync=hostfakesplit:blob=TLS_ALERT:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_MAX:host=www.max.ru:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_SHORT:host=short.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_SBERBANK:host=www.sberbank.ru:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER:host=www.max.ru:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER_KYBER:host=www.max.ru:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum

[game_mod]
--new
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=1:maxtime=300:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=8
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8
--lua-desync=fake:blob=QUIC_SHORT:repeats=8
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8
--lua-desync=fake:blob=fake_default_udp:repeats=8:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=8:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8:badsum
--lua-desync=fakedsplit:blob=fake_default_udp:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_GOOGLE:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER_KYBER1:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_RUTRACKER_KYBER2:seqovl_pattern=fake_default_udp:seqovl=-1500:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_VK:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=6:badsum
--lua-desync=fakedsplit:blob=QUIC_FACEBOOK:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_FACEBOOK_QUICHE:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_SHORT:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_SHORT_HEADER:seqovl_pattern=fake_default_udp:seqovl=-1000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=fake_default_udp:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_GOOGLE:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_VK:host=vk.com:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=6:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER1:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER2:host=www.google.com:midhost=host-2:seqovl=-1500:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK_QUICHE:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_SHORT:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_SHORT_HEADER:host=www.max.ru:midhost=host-2:seqovl=-1000:seqovl_pattern=fake_default_udp:repeats=8:badsum

--new
--filter-tcp=80,443,%%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=1:maxtime=150:retrans=3:maxseq=32768
--lua-desync=fake:blob=QUIC_GOOGLE:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_4PDA:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_IANA:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_VK:tcp_seq=-600000:repeats=6
--lua-desync=fake:blob=TLS_VK_KYBER:tcp_seq=-600000:repeats=6
--lua-desync=fake:blob=TLS_ALERT:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_MAX:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_SHORT:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_SBERBANK:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_RUTRACKER:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=TLS_RUTRACKER_KYBER:tcp_seq=-600000:repeats=8
--lua-desync=fake:blob=QUIC_GOOGLE:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_4PDA:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_IANA:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_VK:tcp_seq=-600000:repeats=6:badsum
--lua-desync=fake:blob=TLS_VK_KYBER:tcp_seq=-600000:repeats=6:badsum
--lua-desync=fake:blob=TLS_ALERT:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_MAX:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_SHORT:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_SBERBANK:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_RUTRACKER:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fake:blob=TLS_RUTRACKER_KYBER:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=QUIC_GOOGLE:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_4PDA:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_IANA:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_IANA_BIGSIZE:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_VK:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=6:badsum
--lua-desync=fakedsplit:blob=TLS_VK_KYBER:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=6:badsum
--lua-desync=fakedsplit:blob=TLS_ALERT:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_MAX:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_SHORT:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_SBERBANK:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_RUTRACKER:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=fakedsplit:blob=TLS_RUTRACKER_KYBER:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=QUIC_GOOGLE:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_4PDA:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_IANA:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_IANA_BIGSIZE:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_VK:host=vk.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=6:badsum
--lua-desync=hostfakesplit:blob=TLS_VK_KYBER:host=vk.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=6:badsum
--lua-desync=hostfakesplit:blob=TLS_ALERT:host=www.google.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_MAX:host=www.max.ru:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_SHORT:host=short.com:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_SBERBANK:host=www.sberbank.ru:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER:host=www.max.ru:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER_KYBER:host=www.max.ru:midhost=host-2:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:repeats=8:badsum

--new
--filter-udp=%GamePort%
--payload=all
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=fake:blob=fake_default_udp:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_GOOGLE:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_VK:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_FACEBOOK:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_SHORT:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_SHORT_HEADER:autottl=2:repeats=12:cutoff=n3