[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00
--blob=fake_default_tcp:0x00

--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=1:maxtime=300:udp_out=4:udp_in=4:reset
--lua-desync=hostfakesplit:blob=fake_default_udp:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_GOOGLE:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_VK:host=vk.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER1:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER2:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK_QUICHE:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_SHORT:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_SHORT_HEADER:host=www.max.ru:midhost=host-2:repeats=6

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--lua-desync=circular:fails=1:maxtime=300:udp_out=4:udp_in=4:reset
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6

--new
--filter-tcp=%DiscordPort%
--hostlist-domains=discord.media
--lua-desync=circular:fails=2:time=3000:maxtime=500:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=hostfakesplit:blob=QUIC_GOOGLE:seqovl_pattern=fake_default_tcp:host=www.google.com:midhost=host-2:tcp_ts=-600000:repeats=6
--lua-desync=hostfakesplit:blob=TLS_4PDA:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_IANA:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_IANA_BIGSIZE:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_VK:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=vk.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_VK_KYBER:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=vk.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_ALERT:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_MAX:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_SHORT:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=short.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_SBERBANK:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=www.sberbank.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER_KYBER:tcp_ts=-600000:seqovl_pattern=fake_default_tcp:host=www.max.ru:midhost=host-2:repeats=6

[END]
--new
--filter-tcp=80,443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=2:time=3000:maxtime=500:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=hostfakesplit:blob=TLS_GOOGLE:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_4PDA:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_IANA:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_IANA_BIGSIZE:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_VK:tcp_ts=-600000:ip_id=zero:host=vk.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_VK_KYBER:tcp_ts=-600000:ip_id=zero:host=vk.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_ALERT:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_MAX:tcp_ts=-600000:ip_id=zero:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_SHORT:tcp_ts=-600000:ip_id=zero:host=short.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_SBERBANK:tcp_ts=-600000:ip_id=zero:host=www.sberbank.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER:tcp_ts=-600000:ip_id=zero:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER_KYBER:tcp_ts=-600000:ip_id=zero:host=www.max.ru:midhost=host-2:repeats=6


[game_mod]
--new
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=1:maxtime=300:udp_out=4:udp_in=4:reset
--lua-desync=hostfakesplit:blob=fake_default_udp:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_GOOGLE:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_VK:host=vk.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER1:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_RUTRACKER_KYBER2:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_FACEBOOK_QUICHE:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_SHORT:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=QUIC_SHORT_HEADER:host=www.max.ru:midhost=host-2:repeats=6

--new
--filter-tcp=80,443,%%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=2:time=3000:maxtime=500:interval=10:retrans=3:maxseq=32768:reset
--lua-desync=hostfakesplit:blob=TLS_GOOGLE:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_4PDA:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_IANA:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_IANA_BIGSIZE:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_VK:tcp_ts=-600000:ip_id=zero:host=vk.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_VK_KYBER:tcp_ts=-600000:ip_id=zero:host=vk.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_ALERT:tcp_ts=-600000:ip_id=zero:host=www.google.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_MAX:tcp_ts=-600000:ip_id=zero:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_SHORT:tcp_ts=-600000:ip_id=zero:host=short.com:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_SBERBANK:tcp_ts=-600000:ip_id=zero:host=www.sberbank.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER:tcp_ts=-600000:ip_id=zero:host=www.max.ru:midhost=host-2:repeats=6
--lua-desync=hostfakesplit:blob=TLS_RUTRACKER_KYBER:tcp_ts=-600000:ip_id=zero:host=www.max.ru:midhost=host-2:repeats=6

--new
--filter-udp=%GamePort%
--payload=all
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=fake:blob=fake_default_udp:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_GOOGLE:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_VK:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_FACEBOOK:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_SHORT:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_SHORT_HEADER:autottl=2:repeats=12:cutoff=n3