[START_SERVICE]
unblock1

[unblock1]
--wf-tcp=80,443
--wf-udp=443,50000-65535

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-repeats=6
--dpi-desync-fooling=md5sig
%FAKE_TLS%
--new

--filter-udp=443
%IP-BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-tcp=80
%IP-BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-repeats=6
--dpi-desync-fooling=md5sig
%FAKE_TLS%
--new

--filter-udp=50000-65535
%BLOCKLIST%
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=6
