[START]
--wf-tcp=80,443,2053,2083,2087,2096,8443,%GameFilter%
--wf-udp=443,19294-19344,50000-65535,%GameFilter%

--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%
--new

[discord]
--filter-udp=19294-19344,50000-65535
--filter-l7=discord,stun
--dpi-desync=fake
%FAKE_DISCORD%
%FAKE_STUN%
--dpi-desync-repeats=6
--new

--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=654
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
--dpi-desync-split-seqovl-pattern="%BINARIES%tls_clienthello_max_ru.bin"
--dpi-desync-fake-tls="%BINARIES%tls_clienthello_max_ru.bin"
--new

[youtube]
--filter-tcp=443
%BLOCKLIST%
--ip-id=zero
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
%FAKE_TLS%
--new

[END]
--filter-tcp=80,443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=654
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
--dpi-desync-split-seqovl-pattern="%BINARIES%tls_clienthello_max_ru.bin"
--dpi-desync-fake-tls="%BINARIES%tls_clienthello_max_ru.bin"
--new

--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%
--new

--filter-tcp=80,443,%GameFilter%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=654
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
--dpi-desync-split-seqovl-pattern="%BINARIES%tls_clienthello_max_ru.bin"
--dpi-desync-fake-tls="%BINARIES%tls_clienthello_max_ru.bin"
--new

[game_mod]
--filter-udp=%GameFilter%
%IP-SETLIST%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=10
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2