[SETTING]
faked=true

[START_SERVICE]
unblock
GoodbyeDPI

[unblock]
--wf-tcp=80,443,2053,2083,2087,2096,8443
--wf-udp=443,19294-19344,50000-50100

--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=16
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,multidisorder
--dpi-desync-split-pos=1,midsld
--dpi-desync-fooling=md5sig
%FAKE_TLS%
--new

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
%FAKE_QUIC%
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-fooling=badseq 
%FAKE_TLS%
--new

[unblock_discord]
--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=fake,multidisorder
--dpi-desync-autottl=5
--dpi-desync-repeats=16
--dpi-desync-fooling=badseq
%FAKE_TLS%

[GoodbyeDPI]
-f 4 -e 2 -q 2 --dns-addr 149.112.112.112
--auto-ttl --wrong-seq --reverse-frag --max-payload --fake-with-sni www.google.com
%BLOCKLIST-GD-DPI%
