[START_SERVICE]
unblock1

[unblock1]
--wf-tcp=80,443
--wf-udp=443,50000-65535

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,multidisorder
--dpi-desync-fooling=badseq
%FAKE_QUIC%
--new

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-udp=50000-65535
%BLOCKLIST%
--filter-l7=discord,stun
--dpi-desync=fake
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=split
--dpi-desync-split-pos=1
--dpi-desync-autottl
--dpi-desync-fooling=badseq
--dpi-desync-repeats=6
--new

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=split
--dpi-desync-split-pos=1
--dpi-desync-autottl
--dpi-desync-fooling=badseq
--dpi-desync-repeats=6
