[START_SERVICE]
unblock1

[unblock1]
--wf-tcp=80,443
--wf-udp=443,50000-65535

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-udp=50000-65535
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-any-protocol=1
--dpi-desync-cutoff=d3
--dpi-desync-repeats=6
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=1
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-autottl=1
--dpi-desync-repeats=6
--dpi-desync-fooling=badseq
%FAKE_TLS%
