[SETTING]
faked=true

[START_SERVICE]
unblock

[unblock]
--wf-tcp=80,443,2053,2083,2087,2096,8443,1024-65535
--wf-udp=80,443,19294-19344,50000-50100,1024-65535

--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-any-protocol=1
--dpi-desync-cutoff=d3
--dpi-desync-repeats=6
--new

--filter-tcp=443,1024-65535
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

[unblock_discord]
--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=6
--dpi-desync-fooling=ts
--dpi-desync-fakedsplit-pattern=0x00
%FAKE_TLS%
--new

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

[unblock_game_mod]
--filter-udp=1024-65535
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=12
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n3
--new

[END]
--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=1
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=1
--dpi-desync-repeats=16
%FAKE_TLS%
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin" --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin" --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin" --wssize=1:6