[SETTING]
faked=true

[START_SERVICE]
unblock

[unblock]
--wf-tcp=80,443,2053,2083,2087,2096,8443,1024-65535
--wf-udp=443,19294-19344,50000-50100,1024-65535

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%
--new

--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=6
--new

--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=fake,multidisorder
--dpi-desync-split-pos=1,midsld
--dpi-desync-repeats=11
--dpi-desync-fooling=badseq
--dpi-desync-fake-tls=0x00000000
--dpi-desync-fake-tls=!
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

--filter-tcp=443
%DOMAINS-GOOGLE%
--ip-id=zero
--dpi-desync=fake,multidisorder
--dpi-desync-split-pos=1,midsld
--dpi-desync-repeats=11
--dpi-desync-fooling=badseq
--dpi-desync-fake-tls=0x00000000
--dpi-desync-fake-tls=!
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

--filter-tcp=80,443
%BLOCKLIST%
--dpi-desync=fake,multidisorder
--dpi-desync-split-pos=1,midsld
--dpi-desync-repeats=11
--dpi-desync-fooling=badseq
--dpi-desync-fake-tls=0x00000000
--dpi-desync-fake-tls=!
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

--filter-udp=443
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%
--new

--filter-tcp=80,443,1024-65535
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,multidisorder
--dpi-desync-split-pos=1,midsld
--dpi-desync-repeats=11
--dpi-desync-fooling=badseq
--dpi-desync-fake-tls=0x00000000
--dpi-desync-fake-tls=!
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

--filter-udp=1024-65535
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=10
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2