[SETTING]
faked=true

[START_SERVICE]
unblock

[unblock]
--wf-tcp=80,443,2053,2083,2087,2096,8443,1024-65535
--wf-udp=443,19294-19344,50000-50100,1024-65535

--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=6
--new

[unblock_rutor]
include_section>>unblock_youtube

[unblock_instagram]
include_section>>unblock_x.com

[unblock_torproject]
include_section>>unblock_x.com

[unblock_x.com]
--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%
--new

--filter-tcp=80,443
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=6
%SEQOVL_PATTERN%
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

[unblock_discord]
--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=11
%FAKE_QUIC%
--new

--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

--filter-tcp=80,443
%BLOCKLIST%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

[unblock_youtube]
--filter-tcp=443
--hostlist-domains=yt3.ggpht.com
--dpi-desync=hostfakesplit
--dpi-desync-repeats=4
--dpi-desync-fooling=ts,md5sig
--dpi-desync-hostfakesplit-mod=host=ozon.ru
--new

--filter-tcp=443
%BLOCKLIST%
--hostlist-exclude-domains=yt3.ggpht.com
--ip-id=zero
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

[unblock_game_mod]
--filter-tcp=80,443,1024-65535
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
--dpi-desync-fooling=ts
--dpi-desync-repeats=8
%SEQOVL_PATTERN%
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--new

--filter-udp=1024-65535
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=10
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2
--new

[END]
--filter-tcp=80,443
%BLOCKLIST%
--hostlist-exclude-domains=googlevideo.com,yt3.ggpht.com
--ip-id=zero
--dpi-desync=fake,split2
--dpi-desync-fooling=ts
--dpi-desync-repeats=16
%SEQOVL_PATTERN%
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin" --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin" --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_4pda_to.bin" --wssize=1:6