[SETTING]
faked=true

[START_SERVICE]
unblock

[unblock]
--wf-tcp=80,443,2053,2083,2087,2096,8443,1024-65535
--wf-udp=443,19294-19344,50000-50100,1024-65535

--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=16
--new

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-repeats=16
%FAKE_QUIC%
--new

--filter-tcp=80,443
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=multisplit
--dpi-desync-split-seqovl=568
--dpi-desync-split-pos=1
--dpi-desync-split-seqovl-pattern="%BINARIES%tls_clienthello_4pda_to.bin"
--new

--filter-udp=443
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=16
%FAKE_QUIC%
--new

--filter-tcp=80,443,1024-65535
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=multisplit
--dpi-desync-split-seqovl=568
--dpi-desync-split-pos=1
--dpi-desync-split-seqovl-pattern="%BINARIES%tls_clienthello_4pda_to.bin"
--new

[unblock_youtube]
--filter-tcp=443
%BLOCKLIST%
--ip-id=zero
--dpi-desync=multisplit
--dpi-desync-split-seqovl=681
--dpi-desync-split-pos=1
%SEQOVL_PATTERN%
--new

[unblock_discord]
--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=multisplit
--dpi-desync-split-seqovl=568
--dpi-desync-split-pos=1
--dpi-desync-split-seqovl-pattern="%BINARIES%tls_clienthello_4pda_to.bin"
--new

[unblock_game_mod]
--filter-udp=1024-65535
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=12
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2