[SETTING]
faked=false

[START_SERVICE]
unblock
GoodbyeDPI

[unblock]
--wf-tcp=80
--wf-udp=19294-19344,50000-50100

--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=16
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig

[GoodbyeDPI]
-e1 --fake-with-sni www.google.com
-q --native-frag --SET-ttl 3 --fake-gen 15 %BLOCKLIST-GD-DPI%
