[SETTING]
faked=true

[START_SERVICE]
unblock

[unblock]
--wf-tcp=80,443,2053,2083,2087,2096,8443,1024-65535
--wf-udp=443,19294-19344,50000-50100,1024-65535

--filter-udp=19294-19344,50000-50100
--filter-l7=discord,stun
--dpi-desync=fake
--dpi-desync-repeats=6
--new

[unblock_instagram]
include_section>>unblock_youtube

[unblock_torproject]
include_section>>unblock_x.com

[unblock_x.com]
--filter-tcp=80,443
%BLOCKLIST%
--ip-id=zero
--dpi-desync=fake,split2
--dpi-desync-autottl=1
--dpi-desync-repeats=16
--dpi-desync-fooling=badseq
--dpi-desync-badseq-increment=1000
%FAKE_TLS%
--new

[unblock_youtube]
--filter-tcp=443
--hostlist-domains=googlevideo.com
--ip-id=zero
--dpi-desync=fake,split2
--dpi-desync-autottl=1
--dpi-desync-repeats=6
--dpi-desync-fooling=badseq
--dpi-desync-badseq-increment=1000
%FAKE_TLS%
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=1
--dpi-desync-fooling=md5sig
--new

[unblock_discord]
--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=fake,multisplit
--dpi-desync-repeats=16
--dpi-desync-fooling=badseq
--dpi-desync-badseq-increment=1000
%FAKE_TLS%
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=1
--dpi-desync-repeats=6
--dpi-desync-fooling=md5sig
--new

--filter-tcp=80,443
%BLOCKLIST%
--dpi-desync=fake,multisplit
--dpi-desync-repeats=16
--dpi-desync-fooling=md5sig
%FAKE_TLS%
--new

[unblock_game_mod]
--filter-udp=1024-65535
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=12
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2
--new

[END]
--filter-tcp=443
%BLOCKLIST%
--hostlist-exclude-domains=googlevideo.com
--dpi-desync=fake,split2
--dpi-desync-ttl=5
--dpi-desync-autottl=1
--dpi-desync-repeats=6
%FAKE_TLS%
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin" --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin" --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin" --wssize=1:6