[START]
--wf-tcp=80,443,%GameFilter%
--wf-udp=443,50000-65535,%GameFilter%

--filter-udp=50000-65535
--dpi-desync=fake
--dpi-desync-any-protocol
--dpi-desync-cutoff=d3
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443,%GameFilter%
%BLOCKLIST%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake,multidisorder
--dpi-desync-split-pos=1,midsld
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig,badseq
%FAKE_TLS%
--new

--filter-udp=443,%GameFilter%
%BLOCKLIST%
%IP-SETLIST%
%IP-EXCLUDE%
%DOMAINS-EXCLUDE%
--dpi-desync=fake
%FAKE_QUIC%
