[FAKE_TLS]
VK=tls_clienthello_vk_com.bin
GOOGLE=tls_clienthello_www_google_com.bin
RUTRACKER=tls_clienthello_rutracker_org.bin
SHORT=quic_short.bin
SBERBANK=tls_clienthello_sberbank_ru.bin
GOSUSLUGI=tls_clienthello_gosuslugi_ru.bin

[FAKE_QUIC]
VK=quic_initial_vk_com.bin
GOOGLE=quic_initial_www_google_com.bin
RUTRACKER=quic_initial_rutracker_org.bin
SHORT=quic_short_header.bin
SBERBANK=quic_short_header.bin
GOSUSLUGI=quic_initial_rutracker_org.bin