[FAKE_TLS]
VK=tls_clienthello_vk_com.bin
GOOGLE=tls_clienthello_www_google_com.bin
RUTRACKER=tls_clienthello_rutracker_org.bin
SHORT=quic_short.bin
SBERBANK=tls_clienthello_sberbank_ru.bin
GOSUSLUGI=tls_clienthello_gosuslugi_ru.bin
MAX=tls_clienthello_max_ru.bin
4PDA=tls_clienthello_4pda_to.bin
SOCHI=tls_clienthello_sochi_park.bin

[FAKE_QUIC]
VK=quic_initial_vk_com.bin
GOOGLE=quic_initial_www_google_com.bin
RUTRACKER=quic_initial_rutracker_org.bin
SHORT=quic_short_header.bin
SBERBANK=stun.bin
GOSUSLUGI=stun.bin
MAX=stun.bin
4PDA=quic_initial_4pda_to.bin
SOCHI=quic_short_header.bin

[FAKE_TLS_DOMAIN]
VK=vk.com
GOOGLE=www.google.com
RUTRACKER=rutracker.com
SHORT=www.google.com
SBERBANK=www.sberbank.ru
GOSUSLUGI=www.gosuslugi.ru
MAX=www.max.ru
4PDA=4pda.to
