[START_SERVICE]
unblock1

[unblock1]
--wf-tcp=80,443
--wf-udp=443,50000-65535

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake,fakedsplit
--dpi-desync-repeats=16
%FAKE_QUIC%
--new

--filter-udp=50000-65535
--filter-l7=discord,stun
--dpi-desync=fake
--new

--filter-tcp=80
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=0
--dpi-desync-fooling=md5sig
%FAKE_TLS%
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-fooling=badseq
%FAKE_QUIC%
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,split2
--dpi-desync-autottl=0
--dpi-desync-repeats=16
--dpi-desync-any-protocol=1
--dpi-desync-fooling=md5sig
%FAKE_TLS%
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin"
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin" --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,split2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin" --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --wssize=1:6
--wf-l3=ipv4 --wf-tcp=443 --dpi-desync=syndata,disorder2 --dpi-desync-fake-syndata="%BINARIES%tls_clienthello_iana_org.bin" --wssize=1:6

