[START_SERVICE]
unblock1
GoodbyeDPI

[unblock1]
--wf-tcp=80,443
--wf-udp=443,50000-65535

--filter-tcp=80
%BLOCKLIST%
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake,multidisorder
--dpi-desync-split-pos=1,midsld
--dpi-desync-fooling=md5sig
%FAKE_TLS%
--new

--filter-udp=443
%BLOCKLIST%
--dpi-desync=fake
%FAKE_QUIC%
--new

--filter-udp=50000-65535
--dpi-desync=fake
--dpi-desync-any-protocol=1
--dpi-desync-cutoff=d3
--new

--filter-tcp=443
%BLOCKLIST%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-fooling=badseq 
%FAKE_TLS%

[GoodbyeDPI]
-f 4 -e 2 -q 2 --dns-addr 1.1.1.1
--auto-ttl --wrong-seq --reverse-frag --max-payload --fake-with-sni www.google.com
%BLOCKLIST-GD-DPI%
