[START]
--wf-tcp=80,443,2053,2083,2087,2096,8443,%GameFilter%
--wf-udp=443,19294-19344,50000-65535,%GameFilter%

--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

[discord]
--filter-udp=19294-19344,50000-65535
--filter-l7=discord,stun
--dpi-desync=fake
%FAKE_DISCORD%
%FAKE_STUN%
--dpi-desync-repeats=6
--new

--filter-tcp=2053,2083,2087,2096,8443
--hostlist-domains=discord.media
--dpi-desync=multisplit
--dpi-desync-split-seqovl=652
--dpi-desync-split-pos=2
%SEQOVL_PATTERN%
--new

[youtube]
--filter-tcp=443
%BLOCKLIST%
--ip-id=zero
--dpi-desync=multisplit
--dpi-desync-split-seqovl=652
--dpi-desync-split-pos=2
%SEQOVL_PATTERN%
--new

[END]
--filter-tcp=80,443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=multisplit
--dpi-desync-split-seqovl=652
--dpi-desync-split-pos=2
%SEQOVL_PATTERN%
--new

--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-tcp=80,443,%GameFilter%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=multisplit
--dpi-desync-split-seqovl=652
--dpi-desync-split-pos=2
%SEQOVL_PATTERN%
--new

[game_mod]
--filter-udp=%GameFilter%
%IP-SETLIST%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=12
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n2
--new
