[START]
--wf-tcp=80,443,%MessengersPort%,%DiscordPort%,%GamePort%
--wf-udp=443,%MessengersPort%,%MessengersPortUPD%,%DiscordPortUPD%,%GamePort%

--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-udp=0,%MessengersPortUPD%,%DiscordPortUPD%
--filter-l7=discord,stun
--dpi-desync=fake
%FAKE_DISCORD%
%FAKE_STUN%
--dpi-desync-repeats=6
--new

--filter-l3=ipv4
--filter-tcp=80,443,%MessengersPort%,%DiscordPort%,%GamePort%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=syndata,multidisorder
--new

[messengers]
use_in>>game_mod

[game_mod]
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-repeats=6
%FAKE_QUIC%
--new

--filter-udp=%MessengersPort%,%GamePort%
%IP-SETLIST%
%IP-EXCLUDE%
--dpi-desync=fake
--dpi-desync-autottl=2
--dpi-desync-repeats=14
--dpi-desync-any-protocol=1
%FAKE_UNKNOWN%
--dpi-desync-cutoff=n3
--new
