.anim_loader {
    display: inline-block;
    width: 8vw;
    height: 8vw;
    border: 0.8vw solid rgba(255, 255, 255, 0.1);
    border-top-color: currentColor;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0.6) translateY(-30%);
    animation: anim_loader 1.25s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
@keyframes anim_loader {
    0% { transform: scale(0.6) translateY(-30%) rotate(0deg); }
    100% { transform: scale(0.6) translateY(-30%) rotate(360deg); }
}