.block {
	display         : block;
	width           : 100%;
	margin          : 0 0 1em 0;
	background-color: rgba(82, 82, 82, .5);
	border          : solid 2px rgb(91, 91, 91);
	border-radius   : 5px;
}

.block h2 {
	margin: .2em;
}

.block ul {
	border-top: solid 2px rgb(91, 91, 91);
	overflow  : auto;
	max-height: 20em;
	margin    : 0;
}

.block ul li {
	position: relative;
}

.block ul li::after {
	position: absolute;
	top     : 0;
}

.block ul .li_success {
	list-style-type: none;
}

.block ul .li_success::after {
	list-style-type: none;
	color          : #08a105;
	left           : -1em;
	content        : '\2713';
}

.block .li_fail {
	list-style-type: none;
}

.block ul .li_fail::after {
	left   : -1em;
	color  : #d00000;
	content: '\2717';
}