.block {
	display         : block;
	width           : 100%;
	margin          : 0 0 1em 0;
	background-color: rgba(82, 82, 82, .5);
	border          : solid 2px rgb(91, 91, 91);
	border-radius   : 5px;
}

.block h2 {
	margin: .2em;
}