.button {
    display : none;
    position: relative;
    left    : 0;
    top     : 0;
    height  : 3em;
}

.button.show {
    display: block;
}

.button button {
    position        : absolute;
    width           : 100%;
    left            : 50%;
    text-align      : center;
    border-radius   : 5px;
    color           : white;
    font-size       : 1.1em;
    padding         : .5em;
    transition      : .3s;
    background-color: rgba(82, 82, 82, .5);
    border          : solid 2px rgb(91, 91, 91);
    border-radius   : 5px;
    transform       : translate(-50%, 0);
}

.button button:hover {
    cursor          : pointer;
    background-color: #474747;
}

.button button:active {
    background-color: #282828;
    border          : solid 2px rgb(65, 65, 65);
}