/* Базовое скрытие списка */
.list_ul {
    display: none;
}

.list_ul.show {
    display: block;
}

.list_ul ul {
    margin: 0;
    max-height: 20em;
    overflow: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(28, 31, 45, 0.65);
}

.list_ul ul li {
    position: relative;
    padding-left: 1.4em;
    list-style-type: none;
}

.list_ul ul li::after {
    position: absolute;
    top: 0;
    left: 0;
}

.list_ul ul .li_success::after {
    color: #00e676;
    content: '\2713';
    font-size: 1.12em;
}

.list_ul ul .li_fail::after {
    color: #ff5252;
    content: '\2717';
    font-size: 1.08em;
}