.nav {
	z-index                   : 10;
	position                  : fixed;
	top                       : -.5em;
	left                      : -.5em;
	color                     : #d3d3d3;
	border                    : solid 2px rgb(91, 91, 91);
	border-bottom-right-radius: .3cm;
	background-color          : rgba(82, 82, 82, .5);
	transition                : filter .5s;
}

.nav ul {
	padding: 0 1em 0;
}

.nav li {
	display: inline;
}

.nav li:first-child::after {
	margin-left: .1cm;
	content    : "|";
}

.nav li a {
	color          : #cdc5c5;
	font-size      : 1em;
	text-decoration: none;
}

.nav li #active {
	font-weight: bold;
}