.secondary_window {
	position          : fixed;
	visibility        : hidden;
	top               : 0;
	opacity           : 0;
	z-index           : 20;
	width             : 100%;
	height            : 100%;
	transition        : visibility .5s, opacity .5s, transform .5s ease-in-out;
	transform         : scale(0);
	/* backdrop-filter: blur(5px); */
}

.secondary_window.show {
	visibility: visible;
	opacity   : 1;
	transform : scale(100%);
}

.secondary_window .content {
	position        : absolute;
	top             : 50%;
	left            : calc(30% / 2);
	width           : 70%;
	background-color: rgba(73, 73, 73, 0.8);
	border          : solid 3px rgb(100, 100, 100);
	border-radius   : 5px;
	transform       : translateY(-50%);
}

.secondary_window .content .title {
	margin    : 0 0 .3em 0;
	text-align: center;
	font-size : 3em;
}

.secondary_window .content .description {
	margin     : .5em 0;
	border     : solid 3px rgb(100, 100, 100);
	text-align : center;
	font-size  : 2em;
	white-space: pre-line;
	overflow   : auto;
	max-height : 12em;
}

.secondary_window .content .elements {
	text-align: center;
}

.secondary_window .content .horizontally .button {
	display: inline-block;
	margin : 0 3em;
}

.secondary_window .content .vertically .button {
	display: block;
	margin : 0 auto;
}

.secondary_window .content .elements .button {
	width: 10em;
}

.secondary_window .content .elements .button button {
	width: 100%;
}