@charset "UTF-8";

* {
    box-sizing: border-box;
}

html,
body {
    color: #aeaeae;
    font-size: 100%;
    font-family: "Segoe UI";
    text-shadow: 1px 1px 2px black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#background {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../resources/jpg/win11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(30px);
}

main {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1,
h2 {
    margin-bottom: .1em;
    font-weight: 300;
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
}

h2 {
    font-size: 1.8em;
    line-height: 1em;
}

.nav {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #d3d3d3;
    box-shadow: 0px 0px 3px 3px rgba(82, 82, 82, .3);
    border-bottom-right-radius: .3cm;
    border-bottom-left-radius: .3cm;
    background-color: rgba(82, 82, 82, .3);
}

.nav ul {
    padding: 0 1em 0;
}

.nav li {
    display: inline;
}

.nav li:first-child::after {
    margin-left: .1cm;
    content: "|";
}

.nav li a {
    color: #cdc5c5;
    font-size: 1.1em;
    text-decoration: none;
}

.nav li #active {
    font-weight: bold;
}

main article {
    position: relative;
    left: 0px;
    padding: 0px;
    width: 100%;
}

main article .header_title {
    font-size: 3em;
    padding: .6em;
    text-align: right;
}

main article .block {
    position: relative;
    overflow: auto;
    left: 50%;
    display: block;
    width: 80%;
    padding: 0 2em 0 2em;
    margin: 2% 0;
    transform: translate(-50%, 0%);
    background-color: rgba(82, 82, 82, .5);
    box-shadow: 0px 0px 3px 3px rgba(82, 82, 82, .5);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

main article .block ul {
    color: #08a105;
    list-style-type: none;
    margin: 0;
}

main article .block ul li {
    position: relative;
}

main article .block ul li::after {
    position: absolute;
    top: 0;
    left: -1em;
    content: '\2713';
}

main article .resource_availability {
    height: 20em;
}

main article .block .not_active {
    color: #d00000;
}

main article .block ul .not_active::after {
    content: '\2717';
}

.button_style {
    position: relative;
    left: 0;
    top: 0;
    height: 4em;
}

.button_style a {
    position: absolute;
    left: 50%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    padding: .5em;
    transition: .3s;
    background-color: rgba(82, 82, 82, .5);
    box-shadow: 0px 0px 3px 3px rgba(82, 82, 82, .5);
    border: solid 1px rgba(54, 54, 54, 0.4);
    transform: translate(-50%, 0);
}

.button_style a:hover {
    background-color: #474747;
    box-shadow: 0px 0px 3px 3px rgba(82, 82, 82, .9);
}

.check_box {
    position: relative;
    background-color: rgba(82, 82, 82, .5);
    box-shadow: 0px 0px 3px 3px rgba(82, 82, 82, .5);
}

.check_box .check {
    position: absolute;
    top: .4em;
    left: 0;
    width: 2em;
    height: .6em;
    background: #333;
    border-radius: 50px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
}


.check_box .title
{
    position: relative;
    top: 0;
    left: 2.5em;
    width: auto;
}

.check_box .check label {
    position: absolute;
    width: 1em;
    height: 1em;
    top: -.2em;
    left: 0;
    cursor: pointer;
    border-radius: 50px;
    background-color: #c0c0c0;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
    transition: .4s;
}



.check_box .check input[type="checkbox"] {
    visibility: hidden;
}

.check_box .check input[type="checkbox"]:checked + label {
    left: 1em;
    background-color: #60ff26;

}

/* изменяем полоcу прокрутки */
::-webkit-scrollbar {
    width: .4em;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: rgb(140, 140, 140);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
    border-radius: 5px;
    background: rgba(82, 82, 82, .9);
}